.container {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: auto;
  padding: 1rem;
}

.label-column {
  display: flex;
  flex-direction: column;
}
.input-column {
  display: flex;
  flex-direction: column;
}
